# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.log

autom4te.cache
*.depend
logs/*.log
scr-client-cpp/client
src/libs/txml/gennmtab/gennmtab
autom4te.cache/
scr-client-cpp/logs/
config.log
src/linux/torcs-bin
src/tools/accc/accc-bin
src/tools/nfs2ac/nfs2ac-bin
src/tools/nfsperf/nfsperf-bin
src/tools/texmapper/texmapper-bin
src/tools/trackgen/trackgen-bin
